<div class="container my-5 py-5 ">
  <div class="row col-12 justify-content-center">
    <div class="text-center borde border border-ligth w-75  shadow-sm p-3 mb-5 bg-white rounded">
      <h1>Bienvenid@ <%= @user.username %></h1>
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <h3 class="mt-5">¿Qué evento desea consultar?</h3>
        <div class="my-5 py-5">
          <%= link_to "CONSULTAR EVENTOS", esport_path, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>